*,*:before,*:after{
    -webkit-border-radius:0 !important;
    -moz-border-radius:0 !important;
    border-radius:0 !important;
    outline: 0 !important;
    outline-offset: 0 !important;
}
*{
    font-family: 'Open Sans', sans-serif;
}
*,a{
    color: #454653 !important;
}

a:hover,a:focus,a:active{
    color: #3f3f4b !important;
}
.navbar-header{
    padding:0;
}
.navbar-brand > img{
    width: 56px !important;
    height: 56px !important;
    display: inline-block;
    position: absolute;
    left:12px;
    top:2px;
    bottom:auto;
}

.bg-orange{
    background: orange !important;
    color: #ffffff;
}
.label-inline{
    float: left;
    display: inline-block;
    font-size: 18px;
    font-weight:bold;
    color: #333;
}
html,body{
    background-color: #f5f5f5;
    padding-top: 40px !important;
}
.no-transition {
  -webkit-transition: height 0.01s;
  -moz-transition: height 0.01s;
  -ms-transition: height 0.01s;
  -o-transition: height 0.01s;
  transition: height 0.01s;
}
input.form-control{
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.navbar{
    border:0 !important;
    max-height: 50px;
    margin-bottom: 18px;
}
.navbar .container-fluid{

    background: #ffffff !important;
    -webkit-transition: background-color 300ms ease-in;
    transition: background-color 300ms ease-in;
    border-bottom: 1px solid #e7e7e7 !important;
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.15);
}
.navbar-brand {
    float: left;
    font-family: 'Pacifico', cursive;
    letter-spacing: 1.2rem !important;
    font-size:4rem !important;
    color: #454653 !important;
    height:62px !important;
    text-indent:70px !important;
    font-weight: 800 !important;
    width: 246px;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.navbar-nav{
    position: relative;
    /*top: 5px;*/
    display: inline-block;
    float:none;
}

.navbar-collapse {
    /*height: 228px !important;*/
    /*max-height: 350px !important;*/
}

.navbar-default .navbar-nav > li > a {
    line-height:3rem;
    font-weight: 700 !important;
    letter-spacing: 1.5px;
    font-size:15px !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #eeeeee !important;
}

.navbar-notify{
    border-bottom: 1px dashed #333;
    border-top: 1px dashed #333;
    text-align: center;
    background: #ffffff;
}
.navbar-notify p{
    font-size:18px;
    margin:0;
    padding:0;
}

.product-container{
    border: 1px solid #ededed;
    background-color: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 4px;
    box-shadow: 0 1px 0 #e5e6e9;
}
img {
    width: 100% !important;
    max-width: 100% !important;
}
#carousel .product-photo img{
    height: 419px !important;
}
.product{
    margin-bottom: 15px;
}
.product-photo{
    position: relative;
}
.product .product-info {
    border-top: 1px solid #e7e7e7 !important;
    background: #ffffff !important;
    position: relative;
    height: 80px;
    overflow: hidden;
    padding: 10px 15px;
}
.product .product-info .product-title{
    font-size: 16px;
    height: 19px;
    display: inline-block;
    color: #333;
}
.product-price{
    font-size:20px;
    font-weight:800;
}


.product-info .product-category:focus,
.product-info .product-category:hover{
    color: #777;
}
.product-info .product-category{
    display: inline-block;
    color: #999 !important;
    position: relative;
    top: 15px;
}
.product-tumbl{
    margin-top:15px !important;
    padding:0;
    position: relative;
    min-height: 1%;
    width: 100% !important;
}
.product-tumbl ul.list-inline{
    display: block;
    float: none;
    position: relative;
    margin: 0;
    padding: 0;
    margin-right: -5px;
    margin-left: -5px;
}

.product-tumbl ul.list-inline li img{
    border: 1px solid #e7e7e7;
}
.product-tumbl ul.list-inline li.active{
    border-color: #D9534F !important;
}
.product-tumbl ul.list-inline li{
    position: relative;
    padding:0;
    margin:0 5px !important;
    cursor: pointer;
    display: block !important;
    border: 1px solid #bdbdbd;
}

.spinner {
    width: 170px;
}
.spinner .input-group-addon{
    background: transparent !important;
    border:0;
}

.spinner input {
    text-align: center;
    background: #ffffff !important;
    cursor: default !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    font-weight:bold !important;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}

.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 11px 20px;
  margin-left: -1px;
  position: relative;
}

.input-group-btn-vertical > .btn:first-child {
    padding-top:1.05rem;
}
.input-group-btn-vertical > .btn:last-child {
    border-top: 0 !important;
    padding-top:1.05rem;
}

.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 0;
    right:0;
}

header,main,footer{
    position: relative;
    display: block;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: #f5f5f5 !important;
}
.navbar-toggle{

    position: absolute;
    left: auto;
    right: 20px;
    top: 7px;
}
.tab-content{
    border-top:0 !important;
    padding-top: 15px !important;
}
.popover{
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.modal-backdrop{
    background: #ffffff;
}
.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}
.c-white:hover,
.c-white:focus,
.c-white:active,
.c-white{
    color: #ffffff !important;
}

.f-bold{
    font-weight:700 !important;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal .modal-content{
    border:none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}