<div class="modal" id="rootPinModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="myModalLabel">Güvenlik Kodu Girin</h4>
            </div>
            <div class="modal-body text-center">
                <input type="text" id="pinCode" name="pinCode" class="form-control">
            </div>
            <div class="modal-body">
                <button onclick="if(confirm('Gerçekten yapmak istiyormusunuz ?')){window.onbeforeunload = null;$('#loginForm *').attr('disabled',false);$('.pincode-input-container').popover('hide');$('#loginForm')[0].reset();$('#loginForm input[name=email]').focus();$('#rootPinModal').modal('hide').remove();}" class="btn btn-default btn-block">Vazgeç</button>
            </div>
        </div>
    </div>
</div>
<!--

    TODO pin input'ta boş geçmeyi engellemek lazım.
    TODO pin inputlar telefonda çalışmıyor !

-->